/.DS_Store
/.idea
/data/Precipitation
/floodPrediction.ipynb
/model
/oldLossPic
/tool
/newdata
/old_file
/cloudcode
/cloudcode2
/dist
/build
/flood_model.egg-info
/flood_model/__pycache__
/data/precip.pt